@page
@model site_manga_home.Areas.Back.Pages.IndexModel
@{
    ViewData["Title"] = "Back Office";
}

<section class="py-5">
    <h1 class="display-5">@Model.Heading</h1>
    <p class="lead">@Model.Description</p>
</section>
